@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-700.woff') format('woff');
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;


}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

image {
    vertical-align: middle;
    object-fit: cover;
}

.mainbody {
    height: 797px;
    background-color: #F3D7B7;
    background-image: url("../images/first-section/circle.png"), url("../images/first-section/cofeeimg.jpg"), url("../images/first-section/background.jpg");
    background-repeat: no-repeat;
    background-size: 160px 160px, 710px 696px, 100%;
    background-position: calc(50% + 55px), calc(50% + 413px), 100%;
    background-position-y: calc(8%), calc(100px), 0;
}

.container {
    width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    margin: 40px 0;
    list-style-type: none;
    align-items: center;
}

.navbar-item {

    margin: 0;
    padding: 0;
    margin-left: 40px;

}

.navbar-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}


.content {
    width: 434px;
    margin-top: 120px;
    margin-left: 130px;

}

.content-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin-bottom: 24px;
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 34px;
}

.conetnt-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
    text-decoration: none;
    background: #0A775F;
    border-radius: 100px;
    padding: 16px 24px;
}

.seconsection {
    margin: 0 auto;
    width: 1480px;
    padding: 20px;

}

.products {

    width: 1440px;
    margin: 0 auto;
    position: relative;
    display: block;
    background-image: url("../images/second-section/background-product.png");



}

.products::before {
    position: absolute;
    top: 50px;
    left: -100px;
    display: block;
    background-image: url("../images/second-secti on/Vector.png");
    background-repeat: no-repeat;
    background-size: 400px 300px;
    width: 400px;
    height: 300px;
    content: "";
}

.products::after {
    position: absolute;
    top: 700px;
    right: -200px;
    display: block;
    background-image: url("../images/second-sectio n/Fill-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 392px;
    height: 477px;
    content: "";
}

.products-box {
    padding: px;


}

.products_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #000000;
    margin-bottom: 80px;
}

.productbox {
    margin: auto;
    width: 1114px;
    background-position: calc();

}

.products-box::before {
    position: absolute;
    top: 1200px;
    left: -250px;
    display: block;
    background-image: url("../images/second-section/ Vector\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 400px 300px;
    width: 400px;
    height: 300px;
    content: "";
}

.product-list {
    list-style-type: none;

}

.product-item {
    display: flex;
    align-items: center;

}

.product-item:nth-child(even) {
    flex-direction: row-reverse;
}

.product-item-content {
    margin-left: 117px;
    width: 453px;
}

.product-content-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #333333;
}

.product-content-text {

    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}

/* ----------------------------------------------------------ABOUT--------------------------------- */

.about-section {
    width: 1480px;
    padding: 20px;
    margin: 0 auto;
}

.about {
    width: 1440px;
    margin: 0 auto;
    background-image: url("../images/aboutbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 30px;
}

.about-box {
    padding-top: 50px;
    position: relative;
}

.about-title {

    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.about-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 80px;
}

.about-list {
    display: flex;
    list-style-type: none;

}

.about-list::before {
    position: absolute;
    background-image: url("../images/about-before.png");
    background-repeat: no-repeat;
    width: 140px;
    height: 144px;
    left: calc(-45px);
    top: calc(230px);
    content: "";
}

.about-item:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}

.about-img {
    margin-bottom: 28px;
}

.about-item-title {

    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    font-variant: small-caps;
    color: #333333;
    margin-bottom: 10px;
}

.about-item-text {
    margin-bottom: 80px;
}

.process-section {
    width: 1480px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.process {
    background-image: url("../images/processbg.png");
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.process-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 80px;
}


.square-box {
    background-image: url("../images/line.png");
    background-repeat: no-repeat;
    background-position-x: 27px;
    background-position-y: 29px;
    margin-bottom: 20px;
    margin-left: 13px;
}

.square {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
    margin-right: 393px;
}

.process-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 60px;
}

.process-list::before {
    top: 45px;
    right: 120px;
    position: absolute;
    background-image: url("../images/sticker-3\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 192px;
    height: 129px;
    transform: rotate(0deg);
    content: "";
}

.process-item {
    background-color: #F8F8F2;
    width: 433px;
    padding: 20px 20px 40px 20px;
}

.process-item:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.process-num {
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    font-variant: small-caps;
    color: #333333;
    opacity: 0.8;
    margin-left: 328px;
    margin-bottom: 45px;
}

.process-item-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333333;
    margin-bottom: 10px;
}

.process-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;

}

.process-link {

    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
    background: #C99B67;
    border-radius: 100px;
    padding: 16px 24px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}


.site-footer {
    background-image: url("../images/footerbg.png");
}

.footer-bar {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 68px 50px;

}

.footer-list {
    margin: 0;
    padding: 0;
    display: flex;
    margin: 0px 0;
    list-style-type: none;
    align-items: center;
}

.footer-item {

    margin: 0;
    padding: 0;
    margin-left: 40px;

}

.footer-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}

.footer-icon {
    margin-left: 30px;
}



/* ___________________________________________________________________________________________________________ */


.aboutbody {
    height: 700px;
    background-color: #F3D7B7;
    background-image: url("../images/first-section/circle.png"), url("../images/about\ bg.jpg"), url("../images/first-section/background.jpg");
    background-repeat: no-repeat;
    background-size: 160px 160px, 710px 596px, 100%;
    background-position: calc(50% + 55px), calc(50% + 413px), 100%;
    background-position-y: calc(8%), calc(100px), 0;
}

.about-products {

    width: 1440px;
    margin: 0 auto;
    position: relative;
    display: block;
    background-image: url("../images/second-section/background-product.png");
}

.about-products-box {
    padding-top: 160px;
    padding-bottom: 200px;



}

.about-product-item-content {
    margin-left: 117px;
    width: 626px;

}

/* _________________________________________________________________________________________________________________________ */

.about-section {
    width: 1480px;
    padding: 20px;
    margin: 0 auto;
    height: 670px;
    background-image: url("../images/twogirls.png");
    background-repeat: no-repeat;
    background-size: 550px 550px;
    background-position: calc(50% + 401px) calc(50% - 35px);
    margin-bottom: 30px;
}

.about-about {
    width: 1440px;
    height: 510px;
    margin: 0 auto;
    background-image: url("../images/aboutbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 30px;
    margin-bottom: 30px;

}

.about-about-box {
    margin-top: 160px;
    display: flex;
    padding-top: 50px;
    position: relative;
    background-image: url("../images/twogirls.png");
    background-repeat: no-repeat;
    background-size: 550px 550px;
    background-position: calc(50% + 401px) calc(50% - 125px);
}

.about-about-title {
    margin-top: 90px;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    margin-left: 140px;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.about-about-text {
    margin-right: 38px;
    width: 639px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 80px;
    margin-left: 143px;
}

.about-about-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 300px;

}

.about-about-list::before {}

.about-item:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}

.about-about-img {
    margin-bottom: 500px;
}

.about-item-title {

    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    font-variant: small-caps;
    color: #333333;
    margin-bottom: 10px;
}

.about-item-text {
    margin-bottom: 80px;
}

.about-process-item {
    background-color: #F8F8F2;
    width: 433px;
    padding: 20px 20px 40px 20px;
    padding-top: 140px;
    background-image: url("../images/state.svg");
    background-repeat: no-repeat;
    background-size: 120px 143px;
    background-position: calc(50% + 120px) calc(50% - 85px);
}

.about-process-item:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.about-process-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 60px;
}

/* ___________________________________________________________________________________________________________ */
.ordermainbody {
    height: 700px;
    background-color: #F3D7B7;
    background-image: url("../images/first-section/circle.png"), url("../images/orderbg.png"), url("../images/first-section/background.jpg");
    background-repeat: no-repeat;
    background-size: 160px 160px, 710px 596px, 100%;
    background-position: calc(50% + 55px), calc(50% + 413px), 100%;
    background-position-y: calc(8%), calc(100px), 0;
}

.order-process-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 60px;
}

.order-section {
    margin: 0 auto;
    width: 1480px;
    padding: 20px;

}

.order-box {
    padding: 50px 30px;
    width: 1440px;
    margin: 0 auto;
    position: relative;
    display: block;
    background-image: url("../images/second-section/background-product.png");



}



.order-box-inner {
    display: flex;
}

.order-left {
    margin-right: 364px;
}

.left-link {
    display: block;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    font-variant: small-caps;
    text-decoration: none;
    color: #555555;
}

.left-link:nth-child(1) {
    color: #000000;
    font-weight: 700px;
    border-bottom: 3px dashed #C99B67;
    ;
}

.order-right {
    width: 660px;
    /* border: 1px dashed black; */
}

.orderright-choice {
    margin-bottom: 50px;
}

.choice-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button,
.button--two,
.button--three,
.button--four,
.button--five {
    border: 0;
}


.order-right-title {
    position: relative;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    font-variant: small-caps;

    color: #000000;
    margin-bottom: 20px;
    
}


.checklist,
.checklist--two,
.checklist--three,
.checklist--four,
.checklist--five {
    display: flex;
    justify-content: space-between;
    height: 0px ;
    transition: all 0.5s ease ;
    overflow: hidden
}

.open {
    height: 220px ;
    display: flex;
    justify-content: space-between;
}

.checkitem {
    padding: 30px 16px;
        
    width: 205px;
    background: #C6DCD1
}


.input-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-variant: small-caps;
    margin-bottom: 10px;
    color: #333333;
}

.input-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 50px;
}

#first:checked~.one {
    background-color: #0A775F;

}

#second:checked~.two {
    background-color: #0A775F;

}

#third:checked~.three {
    background-color: #0A775F;

}

/* input:checked~.checkitem>.input-box>.input-title {
    color: #ffffff;

}

input:checked~.checkitem>.input-box>.input-text {
    color: #ffffff;
} */

#four:checked~.four {
    background-color: #0A775F;

}

#five:checked~.five {
    background-color: #0A775F;

}

#six:checked~.six {
    background-color: #0A775F;

}

#seven:checked~.seven {
    background-color: #0A775F;

}

#eight:checked~.eight {
    background-color: #0A775F;

}

#nine:checked~.nine {
    background-color: #0A775F;

}

#ten:checked~.ten {
    background-color: #0A775F;

}

#eleven:checked~.eleven {
    background-color: #0A775F;

}

#twelve:checked~.twelve {
    background-color: #0A775F;

}

#thirtteen:checked~.thirtteen {
    background-color: #0A775F;

}

#fourteen:checked~.fourteen {
    background-color: #0A775F;

}

#fiveteen:checked~.fiveteen {
    background-color: #0A775F;

}

.downbox {
    padding: 40px 20px;
    background-color: #C99B67;
    margin-bottom: 70px;
}

.downbox-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    padding-bottom: 14px;
}

.down-box-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */


    color: #000;
}

span {
    color: white;
}

.submit {
    display: block  ;
    margin-left: 485px;
    width: 175px;
    background: #0A775F;
    border-radius: 100px;
    padding: 16px;
    border: 0;

}
.button-text{
    color: #fff;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 1px;
font-variant: small-caps;

color: #FFFFFF;
}